
/* CABECERA E IMAGEN DE BARRA DE NAVEGACION */

header{
    height: 115px;
    position: sticky;
    top: 0%;
    z-index: 3;
    background-image: url(/images/pared-azul-neon.jpg);
    border-bottom: 4px dotted cyan;
}

.btn-img-header{
    width: 95px;
    height: auto;
}